# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/

# Notebooks
.ipynb_checkpoints/

# Artifacts
models/*
!models/.gitkeep
data/processed/*
!data/processed/.gitkeep

# OS
.DS_Store

# Tooling
.vscode/
.idea/
